<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
	<header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Ethio-Location</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="home">Home</a>
            <a class="nav-link" href="#">Help</a>
           
          </nav>
        </div>
      </header>
<router-outlet></router-outlet> 
<footer class="mastfoot mt-auto">
        <div class="inner">
          <p> ©Ethio-Location 2018</p>
        </div>
      </footer>
</div>