
<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h1>
    Welcome to {{ title }}!
    <br><br>


  </h1>
  <br>
  <div style="height: 300px;" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options">
  </div>
  <p>
    {{lat}} {{lang}}
    <br>Distance: {{distance}}
  </p>
  <div class="container-fluid">

    <hr>

    <p>
      Welcome to Ethio-location.
    </p>

    <hr>
    <app-addis-images></app-addis-images>

  </div>
  