<!--The content below is only a placeholder and can be replaced.-->
  <div class="jumbotron">
  <h1 class="display-4">Welcome to {{ title }}!</h1>
  <p class="lead">This is a simple game to help users to understand our city Addis.</p>
  <hr class="my-4">
  
</div> 
<div class="container"> 

  <div style="height: 300px;" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options">
  </div>

<div class="row">

<div class="col">
<img class="img-fluid" src="{{photos [(counter$ | async)]}}">
</div>
<div class="col">
  <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
 <div class="card-header">Info</div>

  <p *ngIf="distance > 0">
    <br>your guess was <b>{{distance| number: '1.2-2'}}km</b> ( X {{distanceInMiles |number:'1.2-2'}} miles) from
    the correct location<br>
    <br>your point is {{ total_point }}<br>
  </p>
  <button *ngIf="show_next==true" type="button" class="btn btn-primary" (click)="button$.next(1)">Next</button>
<!--button type="button" class="btn btn-primary" (click)="button$.next(1)">submit</button-->
</div>
</div>
</div>
</div>